body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  margin: 0 auto;
  display: block;
  background-image: url(./images/blue-rain.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
body, html, #root {
  width: 100%;
  height: 100%;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

/* Navbar */
.nav {
  display: flex;
  background-color: rgba(0,0,0,.5);
  height: 90px;
  justify-content: space-between;
  text-align: center;
  color: #fff;
  -webkit-backdrop-filter: blur(10px);
}

.nav h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 5px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.link {
  text-decoration: none;
  color: #fff;
}

/* Homepage */
.home-container {
  height: 90%;
  width: 100%;
  flex-direction: column;
}
.home-container, .home-form, .nav-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-form {
  flex-direction: row;
}
.home-form {
  flex-direction: column;
}

.header {
  font-size: 45px;
  color: #fff;
  font-weight: 100;
}

/* Search Forms */
.search {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

/* Forecast */
.week-header {
  font-size: 65px;
  color: #333;
  font-weight: 100;
  text-align: center;
}
.week-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 40px auto;
  color: white;
  background-color: rgba(0,0,0,0.6);
  border-radius: 20px;
}

.day-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px 50px 30px;
}

.icon-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.icon {
  margin-top: -10px;
  height: 100px;
}
.icon-detail {
  height: 140px;
  margin-bottom: -20px;
}
.subheader {
  font-size: 30px;
  color: white;
  font-weight: 300;
  text-align: center;
}
.subheader-detail {
  font-size: 40px;
  color: white;
  font-weight: 300;
  text-align: center;
}
.temp-container {
  display: flex;
  margin-top: 10px;
  color: white;
  font-weight: 300;
}
.max-temp {
  font-size: 240%;
  margin : 0 8px;
}
.min-temp {
  font-size: 150%;
  margin-top: 15px
}

.day-detail-container {
  background-color: rgba(0, 0, 0, 0.6);
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0 0 1px;
  border-radius: 20px;
}
.description-container {
  text-align: center;
  font-size: 34px;
  font-weight: 100;
  max-width: 400px;
  margin: 0 auto;
  color: white;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}